/* Polices du site.
   - Cabinet Grotesk (Indian Type Foundry) : police principale, chargée depuis le service officiel Fontshare
     (api.fontshare.com), voir le <link> dans l'en-tête de chaque page. La licence autorise ce mode de chargement ;
     elle interdit en revanche de déposer les fichiers de la police dans un dépôt public : ne pas les copier ici.
   - Hanken Grotesk (auto-hébergée, licence libre) : police de SECOURS pendant le chargement ou si Fontshare est
     injoignable. « Cabinet Grotesk Fallback » = Hanken Grotesk redimensionnée pour avoir la même largeur et la même
     hauteur de ligne que Cabinet Grotesk : le texte reste lisible et ne saute pas quand la vraie police arrive. */
@font-face {font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(fonts/hanken-grotesk-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face {font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(fonts/hanken-grotesk-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face {font-family: 'Cabinet Grotesk Fallback';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(fonts/hanken-grotesk-latin-ext.woff2) format('woff2');
  size-adjust: 95%;
  ascent-override: 91.6%;
  descent-override: 29.5%;
  line-gap-override: 0%;
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face {font-family: 'Cabinet Grotesk Fallback';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url(fonts/hanken-grotesk-latin.woff2) format('woff2');
  size-adjust: 95%;
  ascent-override: 91.6%;
  descent-override: 29.5%;
  line-gap-override: 0%;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}